{%- if section.settings.subtitle != blank -%}
  <p>{{ section.settings.subtitle }}</p>
{%- endif -%}

{%- if section.settings.heading != blank -%}
  <h2>{{ section.settings.heading }}</h2>
{%- endif -%}

{%- for block in section.blocks -%}
  <div>character</div>

  <p>Name: {{ block.settings.name }}</p>
{%- endfor %}

{% schema %}
{
  "name": "Meet The Crew",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Meet The Crew",
      "label": "Header text"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "default": "All the Spaceboi Characters",
      "label": "Subheader text"
    }
  ],
  "blocks": [
    {
      "type": "Character",
      "name": "character",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Spaceboi"
        },
        {
          "type": "image_picker",
          "id": "image-picker",
          "label": "Avatar"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Meet The Crew"
    }
  ]
}
{% endschema %}
